/* base */
@import "@css/base/reset.css";
@import "@css/base/typography.css";

/* theme */
@import "@css/theme/colors.css";
@import "@css/theme/dark-mode.css";

/* utilities */
@import "@css/utils/spacing.css";
@import "@css/utils/borders.css";
@import "@css/utils/display.css";
@import "@css/utils/spacing.css";
@import "@css/utils/text.css";